:root {
	--primary: #2d59fa;
	--primary-hover: #0037ff;
	--bg: linear-gradient(to right, #00c6ff, #0072ff);
	--secondary: #feffff;
	--dropzone-bg: #fff;
	--gray: #d3d3d3;
	--border: #edf1f3;
	--dropzone-border: #d4dce6;
	--headline: #211e30;
	--text: #0a090c;
	--primary-text: #f2f7fe;
	--dropzone-over: #f2f7fe;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	font-size: 62.5%;
	min-width: 60rem;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--bg);
	height: 100vh;
}

h1 {
	margin: 5rem;
	font-size: xx-large;
}

.button-container {
	display: flex;
	gap: 10rem;
	margin: 1rem;
}

.action-btn {
	position: relative;
	width: 23rem;
	height: 23rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: x-large;
	font-weight: 600;
	padding: 1rem;
	cursor: pointer;
	color: #f5681f;
	animation: ripple 1.2s infinite ease-out;
}

.button-container button {
	.btn-text {
		position: absolute;
		transition: opacity 0.2s ease, transform 0.26s ease;
		opacity: 1;
		transform: translateY(0);
	}

	.btn-icon {
		position: absolute;
		transition: opacity 0.2s ease, transform 0.26s ease;
		opacity: 0;
		transform: translateY(10rem);
	}

	.btn-border {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border-color: #ea8b2e #eb3f1f #f3611e #f66e1f !important;
		border-style: solid !important;
		border-width: 1.3rem !important;
		animation: spin 2.3s linear infinite;
	}

	&:hover {
		transform: scale(1.1);
		transition: transform 0.26s ease;

		.btn-text {
			opacity: 0;
			transform: translateY(-10rem);
			transition: opacity 0.2s ease, transform 0.33s ease;
		}

		.btn-icon {
			opacity: 1;
			transform: translateY(0);
			transition: opacity 0.2s ease, transform 0.33s ease;
		}

		.btn-border {
			animation: spin 1s linear infinite;
		}
	}
}

.receiveArea,
.sendArea {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.sendArea-content,
.receiveArea-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 3rem;
	border-radius: 2rem;
	min-width: 45rem;
	max-width: 60rem;

	h2 {
		margin: auto;
		font-size: x-large;
	}
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.close {
	color: grey;
	cursor: pointer;
	margin: 1rem;
	width: 2rem;
	height: 2rem;

	&:hover,
	&:focus {
		color: black;
	}
}

.sendForm {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-radius: 2rem;
	padding: 2rem;
	justify-content: center;
	min-width: 40rem;
	max-width: 58rem;
	border: 0.2rem solid var(--border);

	.input-with-icon {
		position: relative;
		display: flex;
		align-items: center;

		input {
			width: 100%;
		}

		.qr-icon {
			position: absolute;
			right: 1rem;
			cursor: pointer;
		}
	}

	::placeholder {
		font-weight: bold;
		font-size: larger;
	}

	#targetIp {
		padding: 1rem;
		border: 0.1rem solid #ccc;
		border-radius: 1rem;
	}

	button {
		font-size: 1.6rem;
		background: var(--primary);
		border-radius: 1rem;
		color: var(--primary-text);
		cursor: pointer;
		min-height: 4rem;
		width: 35%;
		margin: auto;
	}

	.dropzone-area {
		box-shadow: 0 2rem 3.4rem rgb(1, 28, 71, 0.3);
		position: relative;

		margin: 1.6rem;
		min-height: 25.6rem;
		display: flex;

		justify-content: center;
		align-items: center;
		flex-direction: column;
		border: 0.2rem dashed #ccc;
		border-radius: 2rem;
		cursor: pointer;
		transition: all 0.3s ease;

		[type="file"] {
			cursor: pointer;
			position: absolute;
			opacity: 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.file-upload-icon {
			height: 9.6rem;
			width: 100%;
		}

		&:hover {
			background: var(--dropzone-over);
		}

		#num-of-files {
			font-size: large;
			color: var(--gray);
			margin: 1rem;
		}

		ul {
			list-style-type: none;
			width: 85%;

			li {

				background-color: #cfbeff;
				margin: 1.6rem;
				padding: 1.6rem;
				border-radius: 1rem;
				display: flex;
				justify-content: space-between;

				p {
					font-size: medium;

				}
			}

			.f-name {
				max-width: 80%;
			}
		}

		.dropzone--over {
			border: 0.2rem solid var(--primary);
			background: var(--dropzone-over);
		}
	}
}

.receiveForm {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-radius: 2rem;
	padding: 2rem;
	justify-content: center;
	min-width: 40rem;
	max-width: 58rem;
	border: 0.2rem solid var(--border);
	align-items: center;

	span {
		font-size: large;
	}
}


.qr-code {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

@keyframes ripple {
	0% {
		box-shadow: 0 0 0 0 transparent, 0 0 0 0 hsla(0, 0%, 100%, 0.1),
			0 0 0 0 transparent, 0 0 0 0 hsla(0, 0%, 100%, 0), 0 0 0 0 transparent,
			0 0 0 0 hsla(0, 0%, 100%, 0.1);
	}

	100% {
		box-shadow: 0 0 0 2rem transparent, 0 0 0 6rem hsla(0, 0%, 100%, 0),
			0 0 0 7rem transparent, 0 0 0 8rem hsla(0, 0%, 100%, 0),
			0 0 0 9rem transparent;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(1turn);
	}
}