:root {
	--bg: linear-gradient(to right, #00c6ff, #0072ff);
	--border: #edf1f3;
	--dropzone-bg: #fff;
	--dropzone-border: #d4dce6;
	--dropzone-over: #f2f7fe;
	--gray: #d3d3d3;
	--headline: #211e30;
	--primary: #2d59fa;
	--primary-hover: #0037ff;
	--primary-text: #f2f7fe;
	--secondary: #feffff;
	--text: #0a090c;
}

* {
	border: none;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	min-width: 60rem;
}

body {
	align-items: center;
	background: var(--bg);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

h1 {
	font-size: xx-large;
	margin: 5rem;
}

.button-container {
	display: flex;
	gap: 10rem;
	margin: 1rem;

	button {
		align-items: center;
		animation: ripple 1.2s infinite ease-out;
		border-radius: 50%;
		color: #f5681f;
		cursor: pointer;
		display: flex;
		font-size: x-large;
		font-weight: 600;
		height: 23rem;
		justify-content: center;
		position: relative;
		width: 23rem;

		.btn-text {
			opacity: 1;
			position: absolute;
			transform: translateY(0);
			transition: opacity .2s ease, transform .26s ease;
		}

		.btn-icon {
			opacity: 0;
			position: absolute;
			transform: translateY(10rem);
			transition: opacity .2s ease, transform .26s ease;
		}

		.btn-border {
			animation: spin 2.3s linear infinite;
			border-color: #ea8b2e #eb3f1f #f3611e #f66e1f !important;
			border-radius: 50%;
			border-style: solid !important;
			border-width: 1.3rem !important;
			height: 100%;
			position: absolute;
			width: 100%;
		}

		&:hover {
			transform: scale(1.1);
			transition: transform .26s ease;

			.btn-text {
				opacity: 0;
				transform: translateY(-10rem);
				transition: opacity .2s ease, transform .33s ease;
			}

			.btn-icon {
				opacity: 1;
				transform: translateY(0);
				transition: opacity .2s ease, transform .33s ease;
			}

			.btn-border {
				animation: spin 1s linear infinite;
			}
		}
	}
}

.receiveArea,
.sendArea {
	background: rgba(0, 0, 0, 0.4);
	display: none;
	height: 100%;
	overflow: auto;
	position: fixed;
	width: 100%;

	.sendArea-content,
	.receiveArea-content {
		background: #fefefe;
		border-radius: 2rem;
		margin: 10% auto;
		max-width: 60rem;
		min-width: 45rem;
		padding: 3rem;

		h2 {
			font-size: x-large;
			margin: auto;
		}

		.header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.close {
			color: grey;
			cursor: pointer;
			height: 2rem;
			margin: 1rem;
			width: 2rem;

			&:hover,
			&:focus {
				color: black;
			}
		}
	}
}

.sendForm {
	border: .2rem solid var(--border);
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	max-width: 58rem;
	min-width: 40rem;
	padding: 2rem;

	.input-with-icon {
		align-items: center;
		display: flex;
		position: relative;

		input {
			width: 100%;
		}

		.qr-icon {
			cursor: pointer;
			position: absolute;
			right: 1rem;
		}
	}

	::placeholder {
		font-size: larger;
		font-weight: bold;
	}

	#targetIp {
		border: .1rem solid #ccc;
		border-radius: 1rem;
		padding: 1rem;
	}

	button {
		background: var(--primary);
		border-radius: 1rem;
		color: var(--primary-text);
		cursor: pointer;
		font-size: 1.6rem;
		margin: auto;
		min-height: 4rem;
		width: 35%;
	}

	.dropzone-area {
		align-items: center;
		border: .2rem dashed #ccc;
		border-radius: 2rem;
		box-shadow: 0 2rem 3.4rem rgb(1, 28, 71, 0.3);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 1.6rem;
		min-height: 25.6rem;
		position: relative;
		transition: all .3s ease;

		[type="file"] {
			bottom: 0;
			cursor: pointer;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.file-upload-icon {
			height: 9.6rem;
			width: 100%;
		}

		&:hover {
			background: var(--dropzone-over);
		}

		#num-of-files {
			color: var(--gray);
			font-size: large;
			margin: 1rem;
		}

		ul {
			list-style-type: none;
			width: 85%;

			li {
				background: #cfbeff;
				border-radius: 1rem;
				display: flex;
				justify-content: space-between;
				margin: 1.6rem;
				padding: 1.6rem;

				p {
					font-size: medium;
				}
			}

			.f-name {
				max-width: 80%;
			}
		}


	}

	.dropzone--over {
		background: var(--dropzone-over);
		border: .2rem solid var(--primary);
	}
}

.receiveForm {
	align-items: center;
	border: .2rem solid var(--border);
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	max-width: 58rem;
	min-width: 40rem;
	padding: 2rem;

	span {
		font-size: large;
	}

	.qr-code {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 1rem;
	}
}

@keyframes ripple {
	0% {
		box-shadow: 0 0 0 0 transparent, 0 0 0 0 hsla(0, 0%, 100%, 0.1),
			0 0 0 0 transparent, 0 0 0 0 hsla(0, 0%, 100%, 0), 0 0 0 0 transparent,
			0 0 0 0 hsla(0, 0%, 100%, 0.1);
	}

	100% {
		box-shadow: 0 0 0 2rem transparent, 0 0 0 6rem hsla(0, 0%, 100%, 0),
			0 0 0 7rem transparent, 0 0 0 8rem hsla(0, 0%, 100%, 0),
			0 0 0 9rem transparent;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(1turn);
	}
}